@import contexts.order.api.Order

@(order: Order)

@main() {

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h1 class="uk-heading-large">Order Confirmation</h1>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-6-10">

        <h3>Personal Details</h3>

        <dl class="uk-description-list-horizontal">
            <dt>First Name</dt>
            <dd>@order.getFirstName()</dd>
        </dl>

        <dl class="uk-description-list-horizontal">
            <dt>Last Name</dt>
            <dd>@order.getLastName()</dd>
        </dl>

        <dl class="uk-description-list-horizontal">
            <dt>Email Address</dt>
            <dd>@order.getEmailAddress()</dd>
        </dl>

        <hr>

        <h3>Shipping Details</h3>

        <dl class="uk-description-list-horizontal">
            <dt>Shipping Option</dt>
            <dd>@order.getShippingOption()</dd>
        </dl>

        <h4>Address</h4>

        <dl class="uk-description-list-horizontal">
            <dt>Street</dt>
            <dd>@order.getStreet()</dd>
        </dl>

        <dl class="uk-description-list-horizontal">
            <dt>City</dt>
            <dd>@order.getCity()</dd>
        </dl>

        <dl class="uk-description-list-horizontal">
            <dt>Province</dt>
            <dd>@order.getProvince()</dd>
        </dl>

        <dl class="uk-description-list-horizontal">
            <dt>Postal Code</dt>
            <dd>@order.getPostalCode()</dd>
        </dl>
    </div>
</div>

}