@import contexts.cart.api.Cart
@import controllers.forms.CheckoutForm

@(cart: Cart, checkoutForm: play.data.Form[CheckoutForm])

@main() {

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <h1 class="uk-heading-large">Checkout</h1>
        </div>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-6-10">

            @if(checkoutForm.hasGlobalErrors) {
                <div class="uk-alert uk-alert-danger" data-uk-alert>
                    @for(error <- checkoutForm.globalErrors) {
                        <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
                    }
                </div>
            }

            @if(checkoutForm.hasErrors()) {
                <div class="uk-alert uk-alert-danger" data-uk-alert>
                    <p>Please correct the errors below.</p>
                </div>
            }

            @helper.form(action = routes.CheckoutController.checkout(), 'class -> "uk-form uk-form-horizontal") {

              <h3>Personal Details</h3>

                @helper.input(checkoutForm("firstName"), '_label -> null, '_showConstraints -> false, 'hasErrors -> checkoutForm("firstName").hasErrors) { (id, name, value, args) =>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="@id">First Name</label>
                        <div class="uk-form-controls">
                            <input class="@if(args.get('hasErrors).map(_ match { case x:Boolean => x}).get){uk-form-danger}" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                        </div>
                    </div>
                }

                @helper.input(checkoutForm("lastName"), '_label -> null, '_showConstraints -> false, 'hasErrors -> checkoutForm("lastName").hasErrors) { (id, name, value, args) =>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="@id">Last Name</label>
                        <div class="uk-form-controls">
                            <input class="@if(args.get('hasErrors).map(_ match { case x:Boolean => x}).get){uk-form-danger}" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                        </div>
                    </div>
                }

                @helper.input(checkoutForm("emailAddress"), '_label -> null, '_showConstraints -> false, 'hasErrors -> checkoutForm("emailAddress").hasErrors) { (id, name, value, args) =>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="@id">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="@if(args.get('hasErrors).map(_ match { case x:Boolean => x}).get){uk-form-danger}" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                        </div>
                    </div>
                }

                <hr>

                <h3>Shipping Details</h3>

                <div class="uk-form-row">
                    <label class="uk-form-label">Shipping Options</label>
                    <div class="uk-form-controls">
                        @helper.select(
                            field = checkoutForm("shippingOptions"),
                            options = Seq(
                                "STANDARD" -> "Standard (5-10 business days)",
                                "EXPRESS" -> "Express (1-2 business days)"
                            ),
                            '_default -> "Choose...",
                            '_label -> null, '_showConstraints -> false
                        )
                    </div>
                </div>

                <h4>Address</h4>

                @helper.input(checkoutForm("street"), '_label -> null, '_showConstraints -> false, 'hasErrors -> checkoutForm("street").hasErrors) { (id, name, value, args) =>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="@id">Street and Number</label>
                        <div class="uk-form-controls">
                            <input class="@if(args.get('hasErrors).map(_ match { case x:Boolean => x}).get){uk-form-danger}" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                        </div>
                    </div>
                }

                @helper.input(checkoutForm("city"), '_label -> null, '_showConstraints -> false, 'hasErrors -> checkoutForm("city").hasErrors) { (id, name, value, args) =>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="@id">City</label>
                        <div class="uk-form-controls">
                            <input class="@if(args.get('hasErrors).map(_ match { case x:Boolean => x}).get){uk-form-danger}" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                        </div>
                    </div>
                }

                <div class="uk-form-row">
                    <label class="uk-form-label">Province</label>
                    <div class="uk-form-controls">
                        @helper.select(
                            field = checkoutForm("province"),
                            options = Seq(
                                "AB" -> "Alberta",
                                "BC" -> "British Columbia",
                                "ON" -> "Ontario"
                            ),
                            '_default -> "Choose...",
                            '_label -> null, '_showConstraints -> false
                        )
                    </div>
                </div>

                @helper.input(checkoutForm("postalCode"), '_label -> null, '_showConstraints -> false, 'hasErrors -> checkoutForm("postalCode").hasErrors) { (id, name, value, args) =>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="@id">Postal Code</label>
                        <div class="uk-form-controls">
                            <input class="@if(args.get('hasErrors).map(_ match { case x:Boolean => x}).get){uk-form-danger}" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                        </div>
                    </div>
                }

                <hr>

                <h3>Submit Order</h3>

                <button class="uk-button uk-button-success">Checkout and Pay</button>
            }
        </div>

        <div class="uk-width-4-10">
          <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">Shopping Cart</h3>
          <table class="uk-table">
              <thead>
                  <tr>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Price</th>
                  </tr>
              </thead>
              @for(item <- cart.getLineItems()) {
                @partials.cart.lineitem(item)
              }
              <tfoot>
                  <tr>
                      <td></td>
                      <td></td>
                      <td>Total Price</td>
                      <td>$@cart.getFormattedCartTotal()</td>
                  </tr>
              </tfoot>
          </table>
          </div>
        </div>

    </div>
    
}