@import contexts.cart.api.Cart
@import controllers.forms.CheckoutForm

@()

@common.main() {

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <h1 class="uk-heading-large">CSR Admin</h1>
        </div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-3-4">
            <table class="uk-table">
                <caption>Latest orders</caption>
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Shipping Option</th>
                    <th>Expected Ship Date</th>
                    <th>Order Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/">0012012032</a></td>
                    <td>Kevin</td>
                    <td>Webber</td>
                    <td>kevin.webber@@gmail.com</td>
                    <td>Express</td>
                    <td>November 23, 2016</td>
                    <td><div class="uk-badge uk-badge-success">On-time</div></td>
                </tr>
                <tr>
                    <td><a href="/">0012012032</a></td>
                    <td>Your</td>
                    <td>Customer</td>
                    <td>someone@@gmail.com</td>
                    <td>Standard</td>
                    <td>November 16, 2016</td>
                    <td><div class="uk-badge uk-badge-danger">Late</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
}