@import contexts.product.api.Product

@(category: String, products: List[Product])

@main() {

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h1 class="uk-heading-large">@category</h1>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">

        <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switcher-content'}">
            <li class="uk-active"><a href="#">All</a></li>
            <li><a href="#">Drip</a></li>
            <li><a href="#">Espresso</a></li>
            <li><a href="#">Grinders</a></li>
        </ul>

        <ul id="switcher-content" class="uk-switcher">
            <li class="uk-active">
                <div class="uk-grid uk-grid-match" data-uk-grid-margin data-uk-grid-match="{target:'.uk-thumbnail'}">
                    @for(p <- products) {
                        @partials.product.product(p)
                    }
                </div>
            </li>
        </ul>
    </div>
</div>

}
